sample.html
style.css
sudoku/templatetags/
templates/index2.html
templates/test.html

# for testing now home page:
static/img/1.png
static/img/p-1.png
static/img/p-2.png
static/img/p-3.png
static/img/p-4.png
static/img/p-5.png
static/img/p-6.png
static/img/header.png
static/img/In-White-34.png
static/fonts/
static/css/*
!static/css/index_styles.css
static/js/

# related to testing slack api
error.html
slack.json
mooring_plate_single.json