<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{% static 'js/wiki.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Webapp - Wiki</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand">Greg Dorshimer's Webapp</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Apps
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/dictionary">Dictionary</a></li>
                <li><a class="dropdown-item" href="/sudoku">Sudoku</a></li>
                <li><a class="dropdown-item" href="/wiki">Wiki</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="https://github.com/gregdorshimer">GitHub <img width="16" height="16" src="{% static 'img/github-mark-white.png' %}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="https://www.linkedin.com/in/greg-dorshimer-249456a3/">LinkedIn</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-5">
      <h1>Hello, world!</h1>
      <div class="col-lg-8 px-0">
        <p class="fs-5">Wiki app under construction, using <a href="https://wikitech.wikimedia.org/wiki/Data_Platform/AQS/Pageviews">Wikimedia API</a>.</p>

        <hr class="col-1 my-4">
      </div>
    </div>

</body>